body {
    background-color: rgba(83, 46, 126, 0.425);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    flex: 0 1 60 vw;
    margin: 0;
    }

    @keyframes slide {
        0% {
          background-color: rgba(83, 46, 126, 0.425);
        }
        50% {
          background-color: rgba(83, 46, 126, 0.76);
        }
        100% {
          background-color: rgba(83, 46, 126, 0.418);
        }
      }